@page "/test"
@using ShareData.Models
@using RankingApp.Data.Services

@inject RankingService RankingService

<h3>Test</h3>

<AuthorizeView>
    <Authorized>
        @if (_gameResults == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <nav class="navbar">
                <div class="navbar_left">

                </div>

                <div class="navbar_logo">
                    <a href="#">로고</a>
                </div>

                <div class="navbar_right">
                    <button class="login">로그인</button>
                    <button class="SigUp">회원가입</button>
                </div>
                <a href="#" class="navbar_toogleBtn">
                    <i class="fa fa-solid fa-bars"></i>
                </a>
            </nav>

            <section class="contents">
                <div class="contents_text">
                    <p>자신의 창의력을 이용하여 작품을 만드세요</p>
                    <p>인공지능을 활용한 자신만의 이미지 아트</p>
                </div>

                <div class="contents_input">
                    <input type="text" placeholder="제작할 이미지 텍스트 입력">
                    <button>입력</button>
                </div>

                <div class="contents_upload">
                    <p>또는</p>
                    <button>이미지 업로드</button>
                </div>
            </section>

            <section class="test_img">
                <div class="test_img_full">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </section>
            @*<table class="table">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Score</th>
                        <th>Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var gameResult in _gameResults)
                    {
                        <tr>
                            <td>@gameResult.UserName</td>
                            <td>@gameResult.Score</td>
                            <td>@gameResult.DateTime.ToString()</td>
                            <td>
                                <button class="btn btn-primary" @onclick="() => UpdateGameResult(gameResult)">Edit</button>
                            </td>
                            <td>
                                <button class="btn btn-primary" @onclick="() => DeleteGameResult(gameResult)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <p>
                <button class="btn btn-primary" @onclick="AddGameResult">
                    Add
                </button>
            </p>

            @if (_showPopup)
            {
                <div class="modal" style="display:block" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Add/Update GameResult</h3>
                                <button type="button" class="close" @onclick="ClosePopup">
                                    <span area-hidden="true">X</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label for="UserName">UserName</label>
                                <input class="form-control" type="text" placeholder="UserName" @bind-value="_gameResult.UserName" />
                                <label for="Score">Score</label>
                                <input class="form-control" type="text" placeholder="Score" @bind-value="_gameResult.Score" />
                                <button class="btn btn-primary" @onclick="SaveGameResult">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }*@
        }
    </Authorized>
    <NotAuthorized>
        <p>You are not Authorized!</p>
    </NotAuthorized>
</AuthorizeView>




@code {

    List<GameResult> _gameResults;

    bool _showPopup;
    GameResult _gameResult;

    protected override async Task OnInitializedAsync()
    {
        _gameResults = await RankingService.GetGameResultsAsync();
    }

    void AddGameResult()
    {
        _showPopup = true;
        _gameResult = new GameResult() { Id = 0 };
    }

    void ClosePopup()
    {
        _showPopup = false;
    }

    void UpdateGameResult(GameResult gameResult)
    {
        _showPopup = true;
        _gameResult = gameResult;
    }

    async Task DeleteGameResult(GameResult gameResult)
    {
        var result = RankingService.DeleteGameResult(_gameResult);
        _gameResults = await RankingService.GetGameResultsAsync();
    }

    async Task SaveGameResult()
    {
        if (_gameResult.Id == 0)
        {
            _gameResult.DateTime = DateTime.Now;
            var result = await RankingService.AddGameResult(_gameResult);
        }
        else
        {
            var result = await RankingService.UpdateGameResult(_gameResult);
        }

        _showPopup = false;
        _gameResults = await RankingService.GetGameResultsAsync();
    }

}
